<!doctype html>
<html>
<head>
  {% if NODE_ENV == "gh" %}
    {% set baseURL = npm_package_config_kstatic_ghBaseURL %}
  {% elseif NODE_ENV == "drupal" %}
    {% set baseURL = npm_package_config_kstatic_drupalRemote %}
  {% else %}
    {% set baseURL = npm_package_config_kstatic_base %}
  {% endif %}
  <base href="{{ baseURL }}" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" href="images/favicon.ico" type="image/vnd.microsoft.icon">
  <link rel="apple-touch-icon" href="images/touch-icon.png">
  <link rel="icon" href="images/favicon.png">
  <!--[if IE]><link rel="shortcut icon" href="images/favicon.ico"><![endif]-->
  <!-- or, set /favicon.ico for IE10 win -->
  <meta name="msapplication-TileColor" content="#f00">
  <meta name="msapplication-TileImage" content="/images/tileicon.png">

  <title>
    {{ config.title|title }}
  </title>

  <meta name="description" content="{{ config.description }}">

  {{ kstatic.scripts }}
  {% for script in config.scripts.header %}
    <script src="/kalastatic/{{ script }}?{{ date('U') }}"></script>
  {% endfor %}
  {{ kstatic.styles }}
  {% for sheet in config.stylesheets %}
    <link rel="stylesheet" type="text/css" href="/kalastatic/{{ sheet }}?{{ date('U') }}">
  {% endfor %}
</head>

<body class="{{ pageSlug ?: title|default('')|clean_class }}">
  {{ contents }}

  {% for script in config.scripts.footer %}
    <script src="/kalastatic/{{ script }}"></script>
  {% endfor %}
</body>
</html>


